@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #3a4764;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, button {
  font-family: 'League Spartan', sans-serif;
}

.f-red {
  color: #d03f2f;
}

.f-orange {
  color: #ca5502;
}

.f-aqua {
  color: #00e0d1;
}